{{ define "content" }}
<h1>Guitars</h1>

{{ if not .guitars }}
  <p>No guitars found.</p>
{{ else }}
  <table>
    <thead>
      <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Type</th>
        <th>Shape</th>
        <th>Slug</th>
      </tr>
    </thead>
    <tbody>
      {{ range .guitars }}
      <tr>
        <td>{{ .BrandName }}</td>
        <td><a href="/guitar/{{ .Slug }}">{{ .Model }}</a></td>
        <td>{{ .Type }}</td>
        <td>{{ .ShapeName }}</td>
        <td>{{ .Slug }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
{{ end }}
{{ end }}
{{template "base" .}}

